.FooterComponent {

    color: #555555;
    position: absolute;
    bottom: 0;
    background-color: #f4eeed;
    text-align: center;  
    right: 0;
    left: 0;

   
        
}

.Spacer {
    color: #555555;
    background-color: #dfd3c3;
    height: 60px;
    text-align: center;
    padding-top: 35px;
    border-left: 100px solid white;
    border-right: 100px solid white;
}