.HeaderComponent {
color: #707070;
position: absolute;
background-color: #f4eeed;
text-align: center;  
right: 0;
left: 0;
height: 50px; 
border-bottom: 5px solid white;
padding-top:20px;
border-top: 20px solid white;
}


span {

padding-left: 20px;
padding-right: 20px;

}